[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=antsnes
Exec=invoker --single-instance --type=e /opt/antsnes/bin/antsnes
Icon=/usr/share/icons/hicolor/64x64/apps/antsnes.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
